* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*--------VARIABLES--------*/
:root {
    --verde: #51AA1B;
    --negro: black;
    --plomo-boton: #EAEAEC;
    --plomo-input: #B7B7B7;
    --font: 'Poppins', sans-serif;
    --tamaño-h2: 24px;
}



.flex-opciones{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: max-content;

}

.div-producto{
    border: 2px solid #51AA1B;
    width: 400px;
    border-radius: 20px;
    height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: 0.6s;

    cursor: pointer;
    user-select: none;
}


.div-producto:hover{
    background: #51AA1B;
}

.div-producto:hover .fruta , .div-producto:hover p{
    color: white;
}


.fruta{
    color: #51AA1B;
    font-size: 60px;
}

.div-producto p{
    font-size: 14px;
}




.flex-input-marca-titulo-id{
    display: flex;
    gap: 20px;
}


.flex-input-marca-titulo-id input{
    width: 265px;
}


.btn-buscar-titulo p{
    font-size: 14px;
    color: #142440;
    text-align: center;

    margin-top: 5px;

    cursor: pointer;
    line-height: 15px;
}

.center-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-left: 20px;

    cursor: pointer;
}









form{
    width: 100%;
    margin-bottom: 30px; margin-top: 30px;
}


.oculto{
    opacity: 0;
    visibility: hidden;

    width: 0px;
    height: 0px;

    transition: 0.6s;

    margin-top: 0;
    margin-bottom: 0;

}

.visible{
    opacity: 1;


}







