* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/*--------VARIABLES--------*/
:root {
    --verde: #51AA1B;
    --negro: black;
    --plomo-boton: #EAEAEC;
    --plomo-input: #B7B7B7;
    --font: 'Poppins', sans-serif;
    --tamaño-h2: 24px;
}

/*SCROLL BAR*/
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(220, 8%, 76%);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(220, 8%, 64%);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(220, 8%, 54%);
  }

a{
    text-decoration: none;
    color: black;
}










/*--------BARRA VERDE--------*/
.barra-primera{
    width: 100%;
    height: 45px;
    background: var(--verde);
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}


.izquierda-redes{
    display: flex;
}

.texto-pequeño{
    font-family: var(--font);
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-top: 3px;
}

.redes i{
    font-size: 14px;
    color: white;
    margin-right: 8px;
}

.derecha-usuario{
    display: flex;
}














/*--------BARRA VERDE--------*/
header{
    height: 100px;
    box-shadow: 0 1px 4px hsla(0, 0%, 10%, 0.1);
}

.izquierda-header{
    width: 100px;
}

.logo{
    width: 70px;
}

.flex-search{
    display: flex;
}

.form-buscar{
    width: 470px;
    display: flex;
    justify-content: center;
}

.input-search{
    border: 1.6px solid #E1E2E4;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    width: 400px;
    outline: none;
    font-family: var(--font);
    border-right: none;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B7B7B7;
  }

  input:focus, select:focus{
    border: 1.6px solid var(--verde);
    transition: 0.5;

}

.boton-search{
    background: #51AA1B;
    width: 66px;
    height: 44px;
    color: white;
    border: none;
}






.derecha-header{
    max-width: 100px;
    width: 200px;
}
    
.derecha-iconos{
    display: flex;
    justify-content: space-between;
    float: right;
}

.derecha-header i{
    font-size: 20px;

}

.micarrito{
    font-family: var(--font);
    font-size: 12px;
    
}




.carrito{
    position: relative;
}

.numero-en-carrito{
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--verde);
    color: white;
    font-family: var(--font);
    font-size: 13px;
    width: 20px;
    text-align: center;
    border-radius: 10px;
}


















.container-main{
    width: 95%;
    margin: 0 auto;

}































/*--------CATEGORIAS-------*/
.categorias-seccion{
    background: #F7F7F7;
    height: 45px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.categoria-flex{
    display: flex;
    justify-content: space-between;
}






/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
  }



.dropbtn{
    display: flex;
    color: black;
    text-decoration: none;
    font-family: var(--font);
    font-size: 14px;    
    height: 45px;
    justify-content: center;
    align-items: center;

}
  
.dropdown-content {
    visibility: hidden; /* Al alterar las márgenes y el height no es necesaria esta propiedad */
    opacity: 0;
    position: absolute;
    top: 1;
    left: 0;
    background: white;
    width: 100%;
    z-index: 2;



}

.contenedor-sub-categorias{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.sub-categorias-items{
    width: 180px;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;




}

.titular, .sub-titular{
    text-decoration: none;
    color: black;
    font-family: var(--font);
}

.titular{
    font-size: 13px;
    margin-bottom: 0;
    display: block;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 17px;

}

.sub-titular{
    font-size: 12px;
    display: block;
    color: #707070;
    max-width: 170px;
    margin-top: 8px;
    font-weight: 400;
    line-height: 13px;

}

#swal2-title{
    font-family: var(--font);
}




  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;

  }

  #test{
    width:20px;
    height: 20px;
    background: red;
    }

.down-category{
    margin-top: 5px;
}
  


































  /*--------HOME-------*/
.home{
    width: 100%;
}


.home-img{
    width: 100%;
    margin-bottom: 20px;
}

.home-img img{
    width: 100%;
}


.main{
    position: relative;
}

.negro{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,.20);
}




























  /*--------SECCION PRODUCTOS-------*/

.container-productos{
    max-width: 1350;
}


.flex{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.titulo-h2{
    font-family: var(--font);
    font-size: var(--tamaño-h2);
    font-weight: 500;
}

.ver-todo{
    font-size: 13px;
    font-family: var(--font);
    text-decoration: underline;
    margin-left: 14px;
    margin-top: 4px;
}



.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.item-producto{
    width: 205.5px !important;
    padding: 17px;
    border: 0.5px solid #E1E2E4;
    margin: 4px;

}

.contenedor-img-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar-img-item{
    width: 170px;
}

.contenedor-img-item img{
    width: 100%;
    height: 100%;
    
}

.detalles{
    margin-top: 5px;
    width: 100%;
}

.marca{
    font-family: var(--font);
    font-size: 12px;
    color: #707070;
    display: block;
}

.titulo-producto{
    font-family: var(--font);
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    height: 40px;

}

.titulo-producto:hover, .marca:hover{
    text-decoration: underline;
}



.precio{
    display: flex;
    font-family: var(--font);
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.precio-oferta{
    color: var(--verde);
    margin-right: 10px;
    font-weight: 500;
}

.precio-normal-censurado{
    color: #707070;
    text-decoration:line-through;
}






.agregar-al-carrito{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-family: var(--font);
    color: white;
    background: var(--verde);
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.6s;
}

.agregar-al-carrito:hover{
    background: #61C923;
}


.splide__pagination__page{
    display: none;
}












.swiper {
    width: 100%;
    height: 400px;
  }













.container-main-productos{
    margin: 0 auto;
    width: 1280px;
    

}




.splide__arrow{
    background: none;
}

.botonessiguiente{
    font-size: 20px;
    color: #707070;
}































.temporal{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}


.img-contenedor{
    width: 600px;

}

.img-contenedor img{
    width: 100%;
}





.ocultar-contador{
    display: none;
}




































