.item{
    display: flex;
    width: 450px;
    gap: 20px;
}

.producto-reporte{
    width: 150px;
}

.dato-producto{
    font-size: 14px;
    margin-bottom: 5px;
}



.texto-negrito{
    font-size: 14px;
    font-weight: 600;
}

.izquierda-form{
    width: 490px;
}