:root {
    --verde: #51AA1B;
    --negro: black;
    --plomo-boton: #EAEAEC;
    --plomo-input: #B7B7B7;
    --font: 'Poppins', sans-serif;
    --tamaño-h2: 24px;
}

.contenedor-filtrado{
    display: flex;
    gap: 40px;
}


.input-text{
    width: 300px;
}







.botones-opciones{
    margin: 20px;
    margin-right: 0;
}

.boton-opcion{
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.boton-opcion a{
    cursor: pointer; 
    color: white; 
    text-decoration: none;
}

.boton-opcion i{
    font-size: 15px;
    margin-right: 4px;
}

.desactivar{
    background: #F61B1B;
}

.editar{
    background: #3679FF;
}

.activar{
    background: #30BB27;
}



.boton-opcion a{
    cursor: pointer; 
    color: white; 
    text-decoration: none;
}



.switch{
    display: none;
}


.visible-check{
    background: #30BB27;
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
    
}

.visible-check::after{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    left: 19px;
    top: 3px;
    transition: .2s;
}





.no-visible-check{
    display: inline-block;
    width: 40px;
    height: 24px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.no-visible-check::after{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .2s;
}



.input-text{
    width: 300px;
}

.select-input{
    width: 190px;
}